{% extends 'adminbase.html.twig' %}

{% block title %}Ayarlar{% endblock %}

{% block content %}

    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">

                    {{ include('admin/messages.html.twig')}}
                    {{ include('admin/setting/_form.html.twig', {'button_label': 'Güncelle'}) }}

                    <script>
                        ClassicEditor
                            .create(document.querySelector('#detail'))
                            .catch(error => {
                                console.error(error)

                            })
                    </script>




                    <!-- /. ROW  -->


                    <!-- /. ROW  -->
                </div>
                <!-- /. PAGE INNER  -->
            </div>
        </div>
    </div>


    <!-- /. PAGE WRAPPER  -->

{% endblock %}



