


<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">



            <a href="{{ path('home') }}" class="logo pull-left"><img src="{{ asset('themes') }}/images/logo1.jpg" class="site_logo" alt=""></a>

            <nav id="menu" class="pull-right">
                {% for cat in cats %}
                    {{ cat|raw }}
                {% endfor %}
            </nav>
        </div>
    </section>
    {% block sidebar %}  {% endblock %}