{% extends 'frontbase.html.twig' %}


{% block title %}Üye Profil Bilgileri{% endblock %}


{% block sidebar %} {{ include('home/_sidebar.html.twig') }} {% endblock %}



{% block body %}

    <div class="row-fluid">
        <div class="span9">

            <div class="span4">

                {% block usersidebar %} {{ include('home/_usersidebar.html.twig') }} {% endblock %}
            </div>

            <div class="span5">
                <h5>Üye Profili</h5>

             {{ include('userpanel/_form.html.twig',{'buton_label':'Update'}) }}


            </div>

            <div class="row-fluid"></div>
        </div>
    </div>



{% endblock %}


