{% extends 'adminbase.html.twig' %}
{% block title %}Shopping Admin Panel{% endblock %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>HOŞGELDİN ADMİN</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
{% endblock %}
