{% extends 'frontbase.html.twig' %}


{% block title %}SHOPCART ORDER ITEM{% endblock %}


{% block sidebar %} {{ include('home/_sidebar.html.twig') }} {% endblock %}



{% block body %}

    <div class="row-fluid">
        <div class="span9">

            <div class="span4">

                {% block usersidebar %} {{ include('home/_usersidebar.html.twig') }} {% endblock %}
            </div>

            <div class="span5">
                <h5>Create new Orders</h5>

                {{ include('orders/_form.html.twig') }}


            </div>

            <div class="row-fluid"></div>
        </div>
    </div>



{% endblock %}

